# Lesson 1B.
Since we did not finish Lesson 1 last time, I thought to separate the two. This lesson will take off by a short review of the previous one, and will carry forth with the rest of **Part 2: Programming Concepts**.

<img src='https://miro.medium.com/max/12032/0*fUJ-vxQtDB0ssLX7' width=800>


Here is what we will be covering today in class.
- **Part 2: Programming Concepts**
    - Data types
        - Words: Strings
        - Numbers: Integer / Float
        - Logical: Boolean
        - Assignment
    - Containers and indexing
        - Lists
        - Arrays (Numpy)
        - Dataframes (Pandas)
    - If-else statements

# Review of Lesson 1A.
To recap, these are the main points from the first lesson.

<img src='01b-review/01b-review.001.jpeg'>

<img src='01b-review/01b-review.002.jpeg'>

<img src='01b-review/01b-review.003.jpeg'>

<img src='01b-review/01b-review.004.jpeg'>

<img src='01b-review/01b-review.005.jpeg'>

<img src='01b-review/01b-review.006.jpeg'>

<img src='01b-review/01b-review.007.jpeg'>

<img src='01b-review/01b-review.008.jpeg'>

<img src='01b-review/01b-review.009.jpeg'>

# Part 2: Programming Concepts (Continued).
<font color='red'>**Directions**: Please create 3 variables in the following chunk of the following data types: `str`, `float`, `int`, and `bool`.</font>

In [2]:
# TRY IT OUT
# Your code here.
variable_1 = 'kobe'
variable_2 = 1.1
variable_3 = 7
variable_4 = True

## Containers.

In Python, just like in math, we have containers. What that really means is that we can "put variables into bags". Here's a list.

In [4]:
['this', 'is', 'a', 'list']
type(['this', 'is', 'a', 'list'])

list

In [5]:
['we', 'can put', 6, 'items in', 'a', 'list', 'and more']

['we', 'can put', 6, 'items in', 'a', 'list', 'and more']

In [6]:
[2, 4, 6, 8]

[2, 4, 6, 8]

In [7]:
[True, False, 1, 2, 'hello', 'goodbye']

[True, False, 1, 2, 'hello', 'goodbye']

We can select a piece of a list by "indexing"! We do this by using `[]` and putting a number in between the square brackets right after a variable name!

<font color='red'>**Directions**: Try taking the first index of `our_list`.</font>

In [8]:
# TRY IT OUT
# Your code here.
our_list = ['Illenium', 'seven lions', 'gryffin', 'madeon']
our_list[0]

'Illenium'

We can also select more than one piece of a list by using `[:]`! Check it out.

In [9]:
this_list = ['s', 'e', 'o', 'w', 'o', 'o']
this_list[3:]

['w', 'o', 'o']

In [10]:
# When indexing the final number is not included (i.e) 1:4 2,3,4 (NO 5)
this_list[1:4]

['e', 'o', 'w']

Now, let's try it out ourselves.

<font color='red'>**Directions**: Make a list that contain the strings a, b, c, and d, and numbers  1, 2, 3, and 4. Then use indexing *and addition* to print out the string 'abc123'.</font>

In [11]:
# NEVER NAME A PYTHON FUNCTION BY THE FUNCTION NAME. NAME IT SOMETHING SPECIAL. (I.E) NOT 'LIST' BUT RATHER 'LIST_2' ETC.
# TRY IT OUT
common_list = ['a', 'b', 'c', 'd', 1, 2, 3, 4]
print(common_list)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [15]:
common_list[0] + common_list[1] + common_list[2] + str(common_list[4]) + str(common_list[5]) + str(common_list[6])

'abc123'

We can also create a list of lists.

In [16]:
[['date', 'weight'], ['2020-01-01', 300], ['2020-01-20', 256], ['2020-02-28', 212]]

[['date', 'weight'],
 ['2020-01-01', 300],
 ['2020-01-20', 256],
 ['2020-02-28', 212]]

Something special about the programming world is that so many people have programmed before us! That means we can put forth their best work to produce our own. Haha. There is a library called `numpy` in Python. It's used to do a lot of math things. Think of it as an app we're opening up on our phone to do something special. In the next chunk, the code is "opening the app" for our use.

In [17]:
import numpy as np

We can do a LOT in `numpy`, but for now, we are going to just think about numpy arrays. These are just like basic Python lists, but they have special properties we will explore later in the course.

In [18]:
np.array([1,2,3])

array([1, 2, 3])

In [19]:
our_list = ['Is', 'it', 'stupid', 'that', 'I', 'love', 'you?']
np.array(our_list)

array(['Is', 'it', 'stupid', 'that', 'I', 'love', 'you?'], dtype='<U6')

Sometimes, we want to save our arrays. Sometimes we don't.

<font color='red'>**Think**: In what cases will we want to save the array? In what cases might we not?</font>

In [24]:
our_array = np.array(our_list)
our_array

array(['Is', 'it', 'stupid', 'that', 'I', 'love', 'you?'], dtype='<U6')

<font color='red'>**Directions**: Try creating an indexing a numpy array.</font>

In [25]:
# TRY IT OUT
our_array[5]

'love'

A final, more advanced type of container (for now) is a dataframe from the `pandas` library. You can think of a dataframe as a way to look at spreadsheets in Python. Let's "open up the app"!

<font color='red'>**Directions**: Import the `pandas` library as `pd` in the following chunk.</font>

In [ ]:
# TRY IT OUT
# Your code here.

In [26]:
import pandas as pd

Let's just take a quick look at what a dataframe looks like.

<font color='red'>**Directions**: Let's create a dataframe. Use the function `pd.DataFrame()` to convert a list of lists into a dataframe! In order to know how to use the function, use `shift+tab` after opening up the parenthesis.</font>

In [35]:
# TRY IT OUT

# 1. Create a list of lists of letters and numbers.
#    Earlier we made this.
#    [['date', 'weight'], ['2020-01-01', 300], ['2020-01-20', 256], ['2020-02-28', 212]]
my_list_of_lists = [['a', 'b', 'c', 'd'], [1, 2, 3, 4]]


# 2. Use pd.DataFrame() to create a dataframe. Add column names.
#    This will look like a spreadsheet!
#    Save the dataframe to a name.
every_body = pd.DataFrame(my_list_of_lists).T


# 3. Print out the dataframe you created.

print(every_body)
every_body

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

Indexing a dataframe kind of sucks. For now, let's just stick with selecting columns. Try selecting a column of your dataframe using `dataframe_name_here['column_name_here]`.

<font color='red'>**Directions**: Select a column of the dataframe you created.</font>

In [36]:
# TRY IT OUT
every_body[1]

0    1
1    2
2    3
3    4
Name: 1, dtype: object

In [39]:
# TRY IT OUT

# 1. Create a list of lists of letters and numbers.
#    Earlier we made this.
#    [['date', 'weight'], ['2020-01-01', 300], ['2020-01-20', 256], ['2020-02-28', 212]]
my_list_of_lists = [['a',1], ['b',2], ['c',3], ['d',4]]


# 2. Use pd.DataFrame() to create a dataframe. Add column names.
#    This will look like a spreadsheet!
#    Save the dataframe to a name.
every_body = pd.DataFrame(my_list_of_lists, columns=['letters', 'numbers'])


# 3. Print out the dataframe you created.

print(every_body)
every_body

  letters  numbers
0       a        1
1       b        2
2       c        3
3       d        4

  letters  numbers
0       a        1
1       b        2
2       c        3
3       d        4

In [40]:
every_body['letters']

0    a
1    b
2    c
3    d
Name: letters, dtype: object

## If/else.

Before we get into how we use if/else, we need to clarify some things about logical statements.

In [41]:
x = 2
y = x
print(x, y)

2 2

In [42]:
x == y

True

In [43]:
x = 2
y = 2
x == y

True

In [44]:
'True' == True

False

In [45]:
1 != 1.0

False

In [46]:
1 != 2

True

Now, take a look at the structure of this. I am printing out a message to the user to let the user know what we are doing with the if else statement.

In [48]:
# PRINT STATEMENT
print('Is ', x, ' greater than ', y, '?')

Is  2  greater than  2 ?

In [49]:
# IF ELSE STATEMENT
if x>y:
    print('Yes')
else:
    print('No')

No

In [51]:
x = 7
y = 122

# PRINT STATEMENT
print('Is ', x, ' greater than ', y, '?')

# IF ELSE STATEMENT
if x>y:
    print('Yes')
else:
    print('No')

Is  7  greater than  122 ?
No

We can make nested if else statements. That is, we can check for more than one condition! This is called logic control in a program.

<font color='red'>**Directions**: *Challenge.* Write a nested if else statement. Start with creating a variable called `a`. Assign it to be equal to 7.0. Create a variable `b` that is equal to `a` times 3. Use the if else statement to check if `a` is equal to `b`. Write an inner if else statement to check if `a` is greater than `b`. There are many ways to do this.</font>

In [65]:
# TRY IT OUT
a = 7.0
b = a * 3

if a==b:
    print('Yahhhh boiii')
else:
    if a>b:
        print(a, 'bruh, is greater than', b, '!')
    else:
        print(b, 'is a lot greater than', a, '!')

21.0 is a lot greater than 7.0 !